<ion-header>
  <ion-toolbar>
    <ion-title>
      RESULTS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Checkbox 1</ion-label>
      <ion-checkbox [(ngModel)]="checkbox1"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox 2</ion-label>
      <ion-checkbox [(ngModel)]="checkbox2"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox 3</ion-label>
      <ion-checkbox [(ngModel)]="checkbox3"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Input field</ion-label>
      <ion-input [(ngModel)]="inputValue"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Radio options</ion-label>
      <ion-radio-group [(ngModel)]="selectedOption">
        <ion-item>
          <ion-label>Option 1</ion-label>
          <ion-radio value="option1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Option 2</ion-label>
          <ion-radio value="option2"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Option 3</ion-label>
          <ion-radio value="option3"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-item>
  </ion-list>


  <ion-item *ngIf="status">
    <ion-label>Status:</ion-label>
    <ion-text>{{ status }}</ion-text>
  </ion-item>
  <ion-button expand="block" (click)="goToSecondPage()">Go back to edit your form</ion-button>

</ion-content>
